<!-- Topbar Start -->
<div class="navbar-custom">
    <ul class="list-unstyled topbar-menu float-end mb-0">
        <li class="notification-list">
            <a class="nav-link" href="/admin">
                <i class="mdi mdi-account-edit noti-icon"></i>
            </a>
        </li>
        <li class="notification-list">
            <a class="nav-link end-bar-toggle" href="javascript: void(0);">
                <i class="mdi mdi-cog noti-icon"></i>
            </a>
        </li>
        <li class="notification-list">
            <form action="/logout" method="POST">
                <button class="nav-link" type="submit" style="border: none; background: none;"><i class="mdi mdi-logout noti-icon"></i></button>
            </form>
        </li>
    </ul>
    <button class="button-menu-mobile open-left">
        <i class="mdi mdi-menu"></i>
    </button>
    
</div>
<!-- end Topbar -->